.body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    /* align-self: center;
    justify-self: center; */
    display: flex;
    
    flex-direction: column;
    background: #272727;
    box-shadow: 0.6vw 0.6vw 0.4vw 0.2vw rgba(0, 0, 0, 0.25);
    border-radius: 4vw;
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 4vw;
}

.line {
    height: 0px;
    background-color: #FFFFFF;
    border: 0.18vw solid #FFFFFF;
}
.line-2{
    height: 0px;
    background-color: #FFFFFF;
    border: 0.18vw solid #FFFFFF;
    margin-bottom: 1vw;
}
.table-header {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    font-size: 2vw;
    text-align: center;

    color: #FFFFFF;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
}

.item {
    display: grid;

    /* grid-template-columns: auto auto auto auto auto; */
    grid-template-columns: repeat(5, minmax(0, 1fr));
    text-align: center;
    border: 0.2vw solid #FFFFFF;
    border-radius: 2vw;
    /* margin-top: 2%; */
    margin-bottom: 2%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    font-size: 1.8vw;
    padding: 1%;
    color:black;
    justify-self: center;
    align-content: center;
    background: #FFFFFF;
}

.item-time {
    width: 40%;
    justify-self: center;
    align-content: center;
    align-self: center;
    background: #747474;
    border: 0.2vw solid #FFFFFF;
    border-radius: 1vw;

}
.item-starting-point{
    align-self: center;
}
.item-destination-point{
    align-self: center;
}
.item-bus-id{
    align-self: center;
}
.item-button {
    width: 40%;
    justify-self: center;
    align-content: center;
    background: #14A76C;
    border: 0vw solid #FFFFFF;
    border-radius: 1vw;
    color: #FFFFFF;
    box-shadow: 0.075vw 0.275vw 0.375vw 0.075vw rgba(0, 0, 0, 0.25);
}

.item-other-button {
    width: 40%;
    justify-self: center;
    color: #272727;
    background: #FFE400;
    border: 0vw solid #FFFFFF;
    border-radius: 1vw;
    box-shadow: 0.075vw 0.275vw 0.375vw 0.075vw rgba(0, 0, 0, 0.25);
}

/* ----------------mouse evenets---------------- */

.item-button:hover{
    width: 55%;
    font-size: 1.7vw;
    animation: hover-button 1;
    animation-duration: 100ms;
}
.item-button:active{
    width: 60%;
    font-size: 1.8vw;
    animation: click-button 1;
    animation-duration: 10ms;
}
.item-other-button:hover{
    width: 55%;
    font-size: 1.7vw;
    animation: hover-button 1;
    animation-duration: 100ms;
}
.item-other-button:active{
    width: 60%;
    font-size: 1.8vw;
    animation: click-button 1;
    animation-duration: 10ms;
}

/* ---------------------------------------------------- */




/*----------------animation events----------------*/


@keyframes hover-button {
    from{width: 40%;font-size: 1.5vw;}
    to{width: 55%;font-size: 1.7vw;}
}
@keyframes click-button {
    from{width: 55%;font-size: 1.7vw;}
    to{width: 60%;font-size: 1.8vw;}
}

/* ---------------------------------------------------- */