asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.0
dj-database-url==2.1.0
Django==4.2.6
django-cors-headers==4.2.0
geographiclib==2.0
geopy==2.4.0
idna==3.4
pathlib==1.0.1
psycopg2-binary==2.9.9
pytz==2023.3.post1
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.6
whitenoise==6.5.0
